* {
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 30px;
}

figure {
    max-width: 100%;
    text-align: center;
}

figcaption {
    font-size: 8px;
}

ul {
    list-style-type:none;
}

.heading {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align:center;
    font-size: 30px;
    background-color: #339E90;
    border-radius: 10px;

}

.maincontent {
    display: flex;
    flex-direction: row;
}

.menubar {
    flex: 20%;
    border-right: 10px solid #1B5049;
}

.button {
    border: 2px solid #339E90;
    border-radius: 10px;
    background-color: white;
    text-align:center;
    padding: 8px;
    margin: 2px;
    font-size: 1.2vw;
}

.button:hover {
    background-color: #27776D;
}

.links {
    font-size: 10px;
    margin-bottom: 20px;
    padding: 10px;

}

.maintext {
    flex: 50%;
    font-size: 15px;
    margin-right: 30px;
    margin-top: 40px;
    margin-left: 20px;
    text-align: center;
    
}

.titles {
    font-size: 18px;
    font-weight:bold;
    font-style:oblique;
}

.shorterm {
    font-size: 30px;
    background-color: #339E90;
    border-radius: 10px;
}

.worktext {
    flex: 80%;
    font-size: 15px;
    margin-right: 30px;
    margin-top: 40px;
    margin-left: 50px;
    text-align: left;
}

.info {
    flex:30%;
    margin-left: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #1B5049;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
}

.mentions {
    margin-top: 20px;
    font-size: 10px;
    text-align:center;
}

#selfie {
    max-width: 50%;
}

#hide {
    display:none;
}

/*phone*/
@media only screen and (max-width: 768px) {

    .maincontent {
        display: flex;
        flex-direction:column;
    }
    .menubar {
        flex:20%;
        align-items: stretch;
    }
    
    .links {
        display:inline-flex;
        margin-left: 0px;
        margin-bottom: 8px;
    
    }

    .button {
        font-size: 2.3vw;
    }
    
}
/*tablet*/
@media only screen and (max-width: 995px) {

    .maincontent {
        display:flex;
        flex-direction:column;
    }
    .menubar {
        flex:20%;
        align-items: stretch;
    }
    
    .links {
        display:inline-flex;
        margin-left: 0px;
        margin-bottom: 8px;
    }

    .button {
        font-size: 2.3vw;
    }

}