* {
    box-sizing: border-box;
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

div[class*="caption"] {
    display: none;
    width:auto;
    margin-left:1px;
    background-color: #339E90;
    font-size: 14px;
}

img:hover + div[class*="caption"] {
    display: block;

}

footer {
    margin: 10px;
    text-align: center;
}

.heading {
    margin-top: 50px;
    text-align:center;
    font-size: 30px;
    background-color: #339E90;
    border-radius: 10px;
}

.menubar {
    text-align: center;
    border-bottom: 10px solid #1B5049;
}
 
.button {
     border: 2px solid #339E90;
     border-radius: 10px;
     background-color: white;
     text-align:center;
     padding: 8px;
     margin: 2px;
     font-size: 1.2vw;
     
}
 
.button:hover {
     background-color: #27776D;
}
 
.links {
     font-size: 10px;
     margin-bottom: 20px;
     padding: 10px;
     display: inline-block;
     position: relative;   
 
}
 
.photos {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;

}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
}

/*phone*/
@media only screen and (max-width: 768px) {

    .button {
        font-size: 2.8vw;
    }

    .column {
        flex: 100%;
        max-width:100%;
    }

    div[class*="caption"] {
        display: block;
        width:auto;
        margin-left:1px;
        background-color: #339E90;
        font-size: 2.8vw;
    }
    
}
/*tablet*/
@media only screen and (max-width: 995px) {

    .button {
        font-size: 2.8vw;
    }

    .column {
        flex: 50%;
        max-width: 50%;
    }

    div[class*="caption"] {
        display: block;
        width:auto;
        margin-left:1px;
        background-color: #339E90;
        font-size: 2vw;
    }

}