* {
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    background-color: #339E90;
    border-radius: 10px;
}

ul {
    list-style-type:none;
}

.gridcontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
}

.heading {
    margin-top: 50px;
    text-align:center;
    font-size: 30px;
    background-color: #339E90;
    border-radius: 10px;
}

.menubar {
   text-align: center;
   border-bottom: 10px solid #1B5049;
}

.button {
    border: 2px solid #339E90;
    border-radius: 10px;
    background-color: white;
    text-align:center;
    padding: 8px;
    margin: 2px;
    font-size: 1.2vw;
    
}

.button:hover {
    background-color: #27776D;
}

.links {
    font-size: 10px;
    margin-bottom: 20px;
    padding: 10px;
    display: inline-block;
    position: relative;   

}

/*phone*/
@media only screen and (max-width: 768px) {

    .gridcontainer {
        display: grid;
        grid-template-columns: 100%;

    }

    .button {
        font-size: 2.8vw;
    }
    
}
/*tablet*/
@media only screen and (max-width: 995px) {

    .gridcontainer {
        display: grid;
        grid-template-columns: 100%;

    }

    .button {
        font-size: 2.8vw;
    }

}